/* =============== Importing fonts =============== */
@font-face {
    font-family: "montserrat-regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat-medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}

/* =============== Setting styles =============== */
.page-root {
    background-color: #F8F8F8;
    padding-bottom: 40px;
    /* Added for compability with header positioning */
    padding-top: 40px;
    min-height: 100vh;
}

.login-page {
    height: 100vh;
    background-color: #83B0DE;
}

a {
    text-decoration: none;
}

/* ======= Login styling ======= */
.login-card {
    width: 300px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
    top: 26%;
    left: 38%;
    background-color: #F8F8F8;
    position: absolute;
    padding: 12px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #565656;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .40);
}

.login-title {
    margin-top: 36px;
    text-align: center;
    font-size: 24px;
    color: #2B2B2B;
}

.login-form {
    margin-top: 56px;
    margin-left: 32px;
    margin-right: 32px;
}

.login-param {
    font-family: "montserrat-regular";
    margin-bottom: 12px;
    font-size: 14px;
}

.login-param-input {
    font-family: "montserrat-regular";
    margin-top: 4px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #565656;
    padding: 2px;
    width: -webkit-fill-available;
}

.login-button-wrapper {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.login-button {
    font-family: "montserrat-regular";
    font-size: 18px;
    background-color: #83B0DE;
    width: 180px;
    border-radius: 6px;
    color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    border-color: #83B0DE;
    cursor: pointer;
}

.login-invalid-credentials {
    font-size: 14px;
    color: red;
}

/* ======= Header styling ======= */
.header {
    background-color: #83B0DE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .40);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header__text {
    display: inline-block;
    font-size: 24px;
    font-family: "montserrat-regular";
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    flex: 1 1 auto;
}

/* ======= Left Menu Styling ======= */
.left-menu {
    background-color: #D4E9FF;
    position: fixed;
    padding-top: 50px;
    width: 200px;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.left-menu__title {
    flex: 0 1 auto;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.left-menu__title__text {
    display: inline-block;
    font-size: 20px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.left-menu__button {
    flex: 0 1 auto;
    background-color: #83B0DE;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

.left-menu__button__text {
    display: inline-block;
    font-size: 14px;
    font-family: "montserrat-regular";
    color: #EBEBEB;
}

.left-menu__spacer {
    /* @TODO: how to handle this?
    flex-grow: 1;
    max-height: 400px;
    */
}

/* ====== Products ====== */

.products-container {
    margin-top: 20px;
    margin-left: 220px;    
}

.products-header {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.products-header__title {
    flex: 0 1 auto;
    display: inline-block;
    font-size: 24px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.product-header__spacer {
    flex-grow: 1;
    min-width: 200px;
}

.products-header__button {
    flex: 0 1 auto;
    font-size: 14px;
    border-radius: 8px;
    background-color: #83B0DE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 20px;
    text-align: center;
    min-width: 212px;
    cursor: pointer;
}

.products-header__button__text {
    /* margin-top: 4px; */
    font-family: "montserrat-regular";
    color: #EBEBEB;
}

.products-header__searchbar {
    flex: 0 1 auto;
    font-size: 14px;
    border-width: 1px;
    border-color: #565656;
    border-radius: 8px;
    background-color: #f3f2f2;
    border-style: solid;
    padding-left: 8px;
    padding-right: 20px;
    margin-right: 120px;
    min-width: 260px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.products-header__searchbar__text {
    /*margin-top: 4px;*/
    font-family: "montserrat-regular";
    color: rgb(157, 157, 157);
}

.products-header__searchbar__input {
    text-decoration: none;
    border-style: none;
    background-color: #f3f2f2;
    font-family: "montserrat-regular";
    color: rgb(157, 157, 157);
    width: -webkit-fill-available;
}

/* @Override */
.products-header__searchbar__input:focus {
    outline: 0;
}

.display-type {
    font-family: "montserrat-regular";
    color: #2B2B2B;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.product-card {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 12px;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    padding: 16px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
    font-family: "montserrat-regular";
    color: #2B2B2B;
    cursor: pointer;
    position: relative;
}

.product-card__name {
    font-size: 20px;
    color: #2B2B2B;
}

.product-card__manufacturer {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.product-card__price {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.product-card-remove-button {
    position: absolute;
    top: 4%;
    left: 94%;
    border-color: #565656;
    border-radius: 20px;
    background-color: #83B0DE;
    border-style: solid;
    font-family: "montserrat-regular";
    color: #EBEBEB;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 900;
}


/* ========== Product Info ====== */

.product-info-container {
    margin-left: 220px;
    position: relative;
    min-height: 100vh;
}

.product-info-container__text {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.product-wrapper {
    margin-top: 20px;
    font-family: "montserrat-regular";
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
    color: #2B2B2B;
    border-radius: 8px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 8px;
    max-width: fit-content;
    position: relative;
}

.product-wrapper__name {
    margin-top: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.product-wrapper__name__text {
    flex: 0 1 auto;
    display: inline-block;
    font-size: 20px;
    min-width: 160px;
}

.product-wrapper__name__spacer {
    flex-grow: 1;
    min-width: 200px;
}

.product-wrapper__name__removespacer {
    flex-grow: 1;
    min-width: 200px;
}

.product-wrapper__name__addproduct {
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    flex: 0 1 auto;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    margin-right: 20px;
    min-width: 220px;
    cursor: pointer;
    text-align: center;
    align-self: self-start;
}

.product-wrapper__name__removeproduct {
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    flex: 0 1 auto;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    margin-right: 20px;
    min-width: 140px;
    cursor: pointer;
    text-align: center;
}
 
.product-wrapper__manufacturer {
    margin-top: 20px;
    font-size: 16px;
}

.product-wrapper__price {
    margin-top: 48px;
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.product-wrapper__price__title {
    flex: 0 1 auto;
    display: inline-block;
}

.product-wrapper__price__spacer {
    flex-grow: 1;
    min-width: 200px;
}

.product-wrapper__price__value {
    flex: 0 1 auto;
    margin-right: 20px;
}

.product-wrapper__description {
    margin-top: 48px;
}

.product-wrapper__description__title {
    font-size: 20px;
}

.product-wrapper__description__text {
    margin-top: 24px;
    font-size: 14px;
    max-width: 640px;
    min-width: 400px;
    margin-left: 20px;
}

.product-wrapper_alertbox {
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 8px;
    background-color: #83b0de38;
    border-style: solid;
    color: #5989bb;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #5989bb;
}

.product-wrapper_alertbox-error {
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 8px;
    background-color: #de656538;
    border-style: solid;
    color: #444444;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #ec2121;
}

.products-not-available {
    font-family: "montserrat-regular";
    color: #2B2B2B;
    font-size: 16px;
}

.remove-product-confirm_alertbox-error {
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 8px;
    background-color: #de656538;
    border-style: solid;
    color: #444444;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #ec2121;
}

/* =========== Product Info Card ========= */

.product-info-card-wrapper {
    margin-top: 28px;
    margin-bottom: 24px;
    margin-right: 12px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
    min-width: 400px;
}

.product-info-card-wrapper__locale {
    font-size: 13px;
    margin-bottom: 8px;
}

.product-info-card {
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
    font-family: "montserrat-regular";
    padding: 12px;
    max-width: 700px;
}

.product-info-card__titlename {
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 16px;
}

.product-info-card__name {
    margin-left: 16px;
    margin-bottom: 24px;
    font-size: 12px;
}

.product-info-card__titledescription {
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 16px;
}

.product-info-card__description {
    margin-left: 16px;
    margin-bottom: 24px;
    font-size: 12px;
}

.product-info-card__pricewrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.product-info-card__titleprice {
    flex: 0 1 auto;
    display: inline-block;
    margin-left: 4px;
    font-size: 16px;
}

.product-info-card__pricespacer {
    flex-grow: 1;
    min-width: 200px;
    max-width: 650px;
}

.product-info-card__price {
    flex: 0 1 auto;
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
}

/* ====== Shopping Cart ======== */

.shopping-cart-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
    position: relative;
    min-height: 100vh;
}

.shopping-cart__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.shopping-cart-checkout-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.shopping-cart-checkout-price {
    flex: 0 1 auto;
    display: inline-block;
    font-size: 20px;
    min-width: 190px;
}

.shopping-cart-checkout-spacer {
    flex-grow: 1;
    min-width: 200px;
    max-width: 340px;
}

.shopping-cart-checkout-button {
    flex: 0 1 auto;
    display: inline-block;
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    min-width: 164px;
    cursor: pointer;
    text-align: center;
}

.shopping-cart-checkout-button_disabled {
    flex: 0 1 auto;
    display: inline-block;
    border-color: #565656;
    border-radius: 8px;
    background-color: #cacaca;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    min-width: 164px;
    cursor: pointer;
    text-align: center;
}

.shopping-cart_alertbox {
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 8px;
    background-color: #83b0de38;
    border-style: solid;
    color: #5989bb;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #5989bb;
}

.shopping-cart_alertbox-error {
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 8px;
    background-color: #de656538;
    border-style: solid;
    color: #444444;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #ec2121;
}

/* ====== Shopping List ======== */

.shopping-list-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.shopping-list__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

/* =========== Users ========== */

.users-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.users__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.users-wrapper {
    
}

.users-card {
    min-width: 500px;
    max-width: 700px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 20px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.users-card__id {
    margin-bottom: 8px;
}

.users-card__firstName {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.users-card__lastName {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.users-card__mail {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.users-card__role {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

/* =========== Locales ========== */

.locales-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.locales__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.locales-wrapper {
    
}

.locales-card {
    min-width: 500px;
    max-width: 700px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 20px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.locales-card__id {
    margin-bottom: 8px;
}

.locales-card__languageCode {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

.locales-card__countryCode {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

/* =========== Currencies ========== */

.currencies-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.currencies__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.currencies-wrapper {
    
}

.currencies-card {
    min-width: 500px;
    max-width: 700px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 20px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.currencies-card__id {
    margin-bottom: 8px;
}

.currencies-card__name {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

/* =========== Manufacturers ========== */

.manufacturers-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
}

.manufacturers__title {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.manufacturers-wrapper {
    
}

.manufacturers-card {
    min-width: 500px;
    max-width: 700px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 20px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.manufacturers-card__id {
    margin-bottom: 8px;
}

.manufacturers-card__name {
    font-size: 14px;
    margin-top: 16px;
    color: #2B2B2B;
}

/* ======== Add product page ======== */

.add-product-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
    position: relative;
}

.add-product-container__text {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.add-product-confirm-button {
    margin-top: 8px;
    display: inline-block;
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    min-width: 164px;
    cursor: pointer;
    text-align: center;
}

.add-product-confirm_alertbox {
    position: absolute;
    top: 98%;
    left: 35%;
    border-radius: 8px;
    background-color: #83b0de38;
    border-style: solid;
    color: #5989bb;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #5989bb;
}

.add-product-confirm_alertbox-error {
    position: absolute;
    top: 98%;
    left: 35%;
    border-radius: 8px;
    background-color: #de656538;
    border-style: solid;
    color: #444444;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #ec2121;
}

/* ======== Edit product page ======== */

.edit-product-container {
    margin-left: 220px;
    font-family: "montserrat-regular";
    color: #2B2B2B;
    position: relative;
}

.edit-product-container__text {
    margin-top: 50px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 24px;
}

.edit-product-confirm-button {
    margin-top: 8px;
    display: inline-block;
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EBEBEB;
    font-size: 14px;
    min-width: 164px;
    cursor: pointer;
    text-align: center;
}

.edit-product-confirm_alertbox {
    position: absolute;
    top: 97%;
    left: 35%;
    border-radius: 8px;
    background-color: #83b0de38;
    border-style: solid;
    color: #5989bb;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #5989bb;
}

.edit-product-confirm_alertbox-error {
    position: absolute;
    top: 97%;
    left: 35%;
    border-radius: 8px;
    background-color: #de656538;
    border-style: solid;
    color: #444444;
    font-size: 18px;
    padding: 8px;
    font-family: "montserrat-regular";
    border-width: 1px;
    border-color: #ec2121;
}

/* ======= Product management card ======= */

.product-mgmt-wrapper {
    min-width: 500px;
    max-width: 700px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 20px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.product-mgmt-manufacturer {
    font-size: 16px;
    margin-top: 16px;
    color: #2B2B2B;
}

.product-mgmt-manufacturer-input {
    margin-left: 8px;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
}

.product-mgmt-manufacturer-input:focus {
    outline: 0;
}

.product-mgmt-loc-button {
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
    border-color: #565656;
    border-radius: 8px;
    background-color: #83B0DE;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #EBEBEB;
    font-size: 14px;
    min-width: 164px;
    cursor: pointer;
    text-align: center;
}

.product-mgmt-loc-wrapper {
    position: relative;
    min-width: 500px;
    max-width: 700px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 12px;
    padding: 16px;
    font-size: 16px;
    color: #2B2B2B;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
}

.product-mgmt-loc-locale {
    margin-top: 8px;
}

.product-mgmt-loc-locale-select {
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.product-mgmt-loc-locale-select:focus {
    outline: 0;
}

.product-mgmt-loc-name {
    margin-top: 24px;
    margin-right: 8px;
}

.product-mgmt-loc-name-input {
    margin-left: 8px;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
    width: 300px;
}

.product-mgmt-loc-name-input:focus {
    outline: 0;
}

.product-mgmt-loc-description {
    margin-top: 24px;
    margin-right: 8px;
}

.product-mgmt-loc-description-input {
    width: -webkit-fill-available;
    height: 140px;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin-top: 8px;
    margin-left: 4px;
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
}

.product-mgmt-loc-description-input:focus {
    outline: 0;
}

.product-mgmt-loc-price {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.product-mgmt-loc-price-input {
    margin-left: 8px;
    margin-right: 16px;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
    width: 80px;
}

.product-mgmt-loc-price-input:focus {
    outline: 0;
}

.product-mgmt-loc-currency-select {
    font-family: "montserrat-regular";
    font-size: 14px;
    color: #2B2B2B;
    border-color: #565656;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin-left: 8px;
}

.product-mgmt-loc-currency-select:focus {
    outline: 0;
}